<% include partials/header.ejs%>
        
        <h1>Welcom to the Solar System Site!</h1>
        
<% include partials/nav.ejs%>
        
        <img src="/img/Planets2013.png" alt="The Solar System" /><br />
        <div>
        By WP - <a href="//commons.wikimedia.org/wiki/File:Planets2008.jpg" title="File:Planets2008.jpg">Planets2008.jpg</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=45708230">Link</a>
        </div>
<h3>Our Solar Sytem</h3>
<p>Its where you can find most of humanities stuff.  Launched in 1977 Voyager 1 left our solar system in 2012.  Due to 
advances in prupulsion the rate at which object will be leaving the solar system will be increasing.</p>


<% include partials/footer.ejs%>