<% include partials/header.ejs%>
        
        <h1>Welcom to Jupiter!</h1>
<% include partials/nav.ejs%>
        
        <img src="/img/Jupiter,_image_taken_by_NASA's_Hubble_Space_Telescope,_June_2019_-_Edited.jpg" alt="Jupiter" /><br />
        <div>
        By NASA, ESA, and A. Simon (NASA Goddard), edited by <a href="//commons.wikimedia.org/wiki/User:PlanetUser" title="User:PlanetUser">PlanetUser</a> - <a rel="nofollow" class="external free" href="https://www.nasa.gov/feature/goddard/2019/hubble-new-portrait-of-jupiter">https://www.nasa.gov/feature/goddard/2019/hubble-new-portrait-of-jupiter</a>, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=81259729">Link</a>
        </div>

<h3>Jupiter</h3>
<p>Jupiter is big.  The mass of Jupiter is over double the mass of the other planets in the solar system combined.  The 
most famous characteristic of Jupiter is the giant red spot wich is a giant storm.</p>
<% include partials/footer.ejs%>