<% include partials/header.ejs%>
        
        <h1>Welcom to Mars!</h1>
<% include partials/nav.ejs%>
        
        <img src="/img/OSIRIS_Mars_true_color.jpg" alt="Mars" /><br />
        <div>
        By ESA - European Space Agency &amp; Max-Planck Institute for Solar System Research for OSIRIS Team ESA/MPS/UPD/LAM/IAA/RSSD/INTA/UPM/DASP/IDA - <a rel="nofollow" class="external free" href="http://www.esa.int/spaceinimages/Images/2007/02/True-colour_image_of_Mars_seen_by_OSIRIS">http://www.esa.int/spaceinimages/Images/2007/02/True-colour_image_of_Mars_seen_by_OSIRIS</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0-igo" title="Creative Commons Attribution-Share Alike 3.0-igo">CC BY-SA 3.0-igo</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=56489423">Link</a>
        </div>
<h3>Mars</h3>
<p>Earth is the only current planet that we know life currently exists on, it is thought that as sometime in the past 
life may have existed on Mars.</p>
<% include partials/footer.ejs%>