<% include partials/header.ejs%>
        
        <h1>Welcom to Mercury!</h1>
<% include partials/nav.ejs%>
        
        <img src="/img/Mercury.jpg" alt="Mercury" /><br />
        <div>
        By <a href="https://en.wikipedia.org/wiki/NASA" class="extiw" title="w:NASA">NASA</a>/<a href="https://en.wikipedia.org/wiki/Applied_Physics_Laboratory" class="extiw" title="w:Applied Physics Laboratory">Johns Hopkins University Applied Physics Laboratory</a>/<a href="https://en.wikipedia.org/wiki/Carnegie_Institution_for_Science" class="extiw" title="w:Carnegie Institution for Science">Carnegie Institution of Washington</a> - <a rel="nofollow" class="external text" href="http://messenger.jhuapl.edu/gallery/sciencePhotos/image.php?page=1&amp;gallery_id=2&amp;image_id=143">NASA/JPL</a>.Edited version of <a href="//commons.wikimedia.org/wiki/File:Mercury_in_color_-_Prockter07.jpg" title="File:Mercury in color - Prockter07.jpg">Mercury in color - Prockter07.jpg</a> by <a href="//commons.wikimedia.org/wiki/User:Jjron" title="User:Jjron">jjron</a> (cropped to square)., Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=24301424">Link</a>
        </div>
<h3>Mercury</h3>
<p>Creating a calendat on Mercury is not something I would want to do.  Its the closest planet to the sun, so it is 
hotter than I would find comfortable, but a year is longer than a day.</p>

<% include partials/footer.ejs%>