<% include partials/header.ejs%>
        
        <h1>Welcom to Neptune!</h1>
<% include partials/nav.ejs%>
        
        <img src="/img/Neptune.jpg" alt="Neptune" /><br />
        <div>
        By <a rel="nofollow" class="external text" href="https://www.flickr.com/people/132160802@N06">Justin Cowart</a> - <a rel="nofollow" class="external free" href="https://www.flickr.com/photos/132160802@N06/29347980845/">https://www.flickr.com/photos/132160802@N06/29347980845/</a>, <a href="https://creativecommons.org/licenses/by/2.0" title="Creative Commons Attribution 2.0">CC BY 2.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=82476611">Link</a>
        </div>
<h3>Neptune</h3>
<p>Neptue is a backward child in the solar system.  It alone revolves around the sun in the opposite direction of the 
rest of the planets.</p>
<% include partials/footer.ejs%>