<% include partials/header.ejs%>
        
        <h1>Welcom to Saturn!</h1>
<% include partials/nav.ejs%>
        
        <img src="/img/Saturn_during_Equinox.jpg" alt="Saturn" /><br />
        <div>
        By NASA / JPL / Space Science Institute - <a rel="nofollow" class="external free" href="http://www.ciclops.org/view/5155/Saturn-Four-Years-On">http://www.ciclops.org/view/5155/Saturn-Four-Years-On</a> <a rel="nofollow" class="external free" href="http://www.nasa.gov/images/content/365640main_PIA11141_full.jpg">http://www.nasa.gov/images/content/365640main_PIA11141_full.jpg</a> <a rel="nofollow" class="external free" href="http://photojournal.jpl.nasa.gov/catalog/PIA11141">http://photojournal.jpl.nasa.gov/catalog/PIA11141</a>, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=7228953">Link</a>
        </div>
<h3>Saturn</h3>
<p>Saturn is most famous for its rings.  Everyone knows about Saturns rings.  My favorite factiod about saturn is that 
if you can find a large enough body of water, Saturn would float.</p>
<% include partials/footer.ejs%>