<% include partials/header.ejs%>
        
        <h1>Welcom to Venus!</h1>
<% include partials/nav.ejs%>
        
        <img src="/img/Venus-real_color.jpg" alt="Venus" /><br />
        <div>
       By NASA or Ricardo Nunes - <a rel="nofollow" class="external free" href="http://www.astrosurf.com/nunes/explor/explor_m10.htm">http://www.astrosurf.com/nunes/explor/explor_m10.htm</a>, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=338424">Link</a>
        </div>
<h3>Venus</h3>
<p>It is strange that the planet that is the third in line from the sun is the hottest planet in the solar system.  Most 
likely caused by high concentration of greenhouse gasses pushing the surface tempratute to a 400 degrees Celcius.</p>
<% include partials/footer.ejs%>